body{
    background-color:  #435056;
    text-align: center;
  }
  h1{
    color: #ffffff
  
  }
  
  #headers{
    font-family: "studant", cursive;
  }
  
  
  .search{
    margin: 10px;
    padding: 5px 15px 15px 20px;
    border-radius: 10px;
    background-color: #f1f3f4;
  }